@layout('layouts/main')
@set('title', 'Détail du film {{film.name}}')

@section('body')
<div class="container">
    <h1 class="display-2">Détail du film</h1>

    <p>Titre : {{ film.titre}} </p>
    <p>Année : {{ film.annee }} </p>
    <p>Type :  {{ film.type }}</p>
</div>
@endsection
